/* Basic style */
* {
  box-sizing: border-box;
}
body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}
h1, h2, p, a {
  color: var(--primary)
}
li {
  font-size: 2em;
  display: inline-block;
  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;
    &:hover, &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}


/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties en stijlen */

/* Frontend */
 a[href="#frontend"] {

 }
 
.frontend{
  animation-name: scaleup;
  animation-duration: 3s;
  animation-iteration-count: 2;
}

@keyframes scaleup {

  0% {
    transform: scale(1);
  }

  50%{
    transform: scale(2);
  }

  100%{
    transform: scale(1);
  }

}


/* & */

a[href="#and"] {

}

.and{
animation-name: left;
animation-duration: 0.5s;
animation-iteration-count: 2;
}

@keyframes left {
0% { 
}

50% { 
   transform: translateX(-50px);
}

100% {
}

}

/* Development*/
 
a[href="#development"] {

}

.wobble {
  animation-name: wobble;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

@keyframes wobble{

  0%   { transform: translate(0, 0); }
  20%  { transform: translate(-10px, -10px); }
  40%  { transform: translate(10px, -10px); }
  60%  { transform: translate(-10px, 10px); }
  80%  { transform: translate(10px, 10px); }
  100% { transform: translate(0, 0); }
}

/* Sprint 5 */

a[href="#sprint-5"] {

}

.sprint5colors {
  animation-name: colors;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes colors {
  0% {
    background-color:rgb(0, 201, 50)
   
  }
  25% {
    background-color: blue
  }
  50% {
    background-color: rgb(173, 0, 92)
  }
  75% {
    background-color: rgb(234, 55, 0)
  }
  100% {
    background-color: rgb(250, 237, 0)
  }
}